/vendor
/.idea
database/database.sqlite
Homestead.json
Homestead.yaml
.env
/docker
/storage
README.md
app.docker
data/
docker-compose.yml
nginx/
resources/views/welcome.blade.php
web.docker


/node_modules
/package-lock.json
/public/images
/public/fonts
/public/mix-manifest.json
/public/css
/public/js