@font-face {
    font-family: "AvenirNextCyr-Medium";
    src: url("../fonts/AvenirNextCyr-Medium.ttf") format("ttf");
}
@font-face {
    font-family: "AvenirNextCyr-Thin";
    src: url("../fonts/AvenirNextCyr-Thin.ttf") format("ttf");
}
@font-face {
    font-family: "AvenirNextCyr-Regular";
    src: url("../fonts/AvenirNextCyr-Regular.ttf") format("ttf");
}
@font-face {
    font-family: "AvenirNextCyr-Bold";
    src: url("../fonts/AvenirNextCyr-Bold.ttf") format("ttf");
}
  