// Body


// Typography

$fontRegular: "AvenirNextCyr-Regular", sans-serif;
$fontMedium: "AvenirNextCyr-Medium", sans-serif;
$fontThin: "AvenirNextCyr-Thin", sans-serif;
$fontBold: "AvenirNextCyr-Bold", sans-serif;

// Colors

